<web-app>
<servlet>
        <servlet-name>Retrieve</servlet-name>
        <servlet-class>Retrieve</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Retrieve</servlet-name>
        <url-pattern>/servlets/servlet/Retrieve</url-pattern>
    </servlet-mapping>

<servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/servlets/servlet/Register</url-pattern>
    </servlet-mapping>

</web-app>